.left-box-container {
  float: left;
/*   border: 1px solid #999; */
  background-color: #ffc879;
  height: 500px;
  width: 20%;
}

@media (max-width: 1021px) {
  .left-box-container  {
    width: 25%;
    /*   */
  }
}

/* Load block */
.load-buttons-container {
  display: flex;
  margin-bottom: 10px;
  padding: 5px 5px 0px 5px;
  justify-content: space-between;
}

button {
  color: #fff;
  background-color: darkslategrey;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 20px;
}

.load-buttons-container > button {
  width: 120px;
  height: 35px;
}

button:hover {
  background: peru;
}

button:active {
  background: saddlebrown;
}

/* Filter block */
.entity-filter {
  margin: 5px;
}

.entity-filter .inner {
  overflow: hidden;
}

.entity-filter input {
  width: 100%;
  height: 20px;
  padding: 5px;
  display: block;
  border: #69c 1px solid;
}

.entity-filter .clear-filter {
  height: 30px;
  float: right;
  margin-left: 3px;
}

/*   EntityList   */

.entity-list {
  height: 405px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* width: 99%; */
}

.entity-container {
  background: darkslategrey;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}

.entity-title {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
