.App {
  color: #fff;
}

.Header {
  background: darkslategrey;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.action-button {
  width: 30px;
  cursor: pointer;
  user-select: none; /* Standard */
}

.action-button:hover {
  background: peru;
}

.action-button:active {
  background: saddlebrown;
}
